h1 {
    text-align: center;
}

.calcContainer {
    display: flex;
    justify-content: center;
}

.calc {
    height: 700px;
    width: 500px;
    border: 2px solid black;
    background: rgb(163, 163, 204);
    border-radius: 10px;
}

.displayContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 50px;
}

.display, .prevNumberDisplay {
    height: 32px;
    width: 400px;
    background: white;
    font-size: 24px;
    text-align: right;
    padding: 10px;
}

.display {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

.prevNumberDisplay {
    font-size: 18px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

button {
    height: 50px;
    width: 50px;
}

.buttonContainer {
    margin: 50px;
    display: flex;
}

.digitButtons {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    width: 400px;
}

.clear, .delete {
    width: 150px;
}